img {
	/*width: 950px;*/
}
.ux-label-toRight{
  display: none;
}
.ux-label-toRight:before{
  content: '';
}
.loading {
  width: 50px;
  height: 50px;
}
.header-img{
  width:100%;
}
@media (min-width: 992px){
  #fatcat {
    display:none;
  }
}
@media (max-width: 600px){
  #fatcat {
    display:block;
  }
}
/*
#event-info-table {
  display: none;
}
*/

#email_logo_nihf {
  width: 150px;
  height: 35px;
}
#email_logos_multi {
  width: 574px;
  height: 30px;
}
@media only screen and (max-width: 500px) {
  background: #ffffff;
}
@media (min-width: 992px){
body{
	background: -moz-linear-gradient(270deg, rgba(0,169,206,1) 0%, rgba(67,176,42,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,169,206,1)), color-stop(100%, rgba(67,176,42,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(0,169,206,1) 0%, rgba(67,176,42,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(0,169,206,1) 0%, rgba(67,176,42,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(0,169,206,1) 0%, rgba(67,176,42,1) 100%); /* ie10+ */
	background: linear-gradient(180deg, rgba(0,169,206,1) 0%, rgba(67,176,42,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A9CE', endColorstr='#43B02A',GradientType=0 ); /* ie6-9 */
 height: 100%;
 margin: auto;
 background-attachment: fixed;
}
}

#ctl00_panCenter{
   width:850px;
   background-color: white;
}

.ux-page-btn.btn{
  background-color: #FFA300
}
img[src*="OtVa3GkKsTQSJyy43DWDQIpralGuhXfPaDyi547N9GaQ7dYUWbdaoxeUUyGWPpba"] {
  width: 100%;
}
div[id*="ctl00_cphBody_CopyItems-"] {
  display: none;
}

.ux-heading-signIn, .ux-section-heading, #ctl00_cphBody_lblText1411 h2, #ctl00_cphBody_lblText1411 h3{
  color: #00A9CE
}
.container-fluid{
  background: #43B02A
}

.col-sm-2{
  width:50%;
}

.col-sm-10{
  width:40%;
}

.panel-default>.panel-heading{
  background: #43B02A;
}
/*@media (max-width: 1000px){
  img{
    width: 100%;
  }
}*/
.ux-reg-table + .ux-reg-table{
  display:none;
}
.ux-order-summary .table th:nth-child(2), .ux-order-summary .table th:nth-child(3), .ux-order-summary .table td:nth-child(2), .ux-order-summary .table td:nth-child(3){
  display: none;
}
.table.ux-reg-table th:nth-child(2), .table.ux-reg-table th:nth-child(4), .table.ux-reg-table td:nth-child(2), .table.ux-reg-table td:nth-child(4)
{
  display: none;
}

/*
#ctl00_cphBody_OrderTotals
{
  display: none;
}
*/